/target/
.#*
*.log
*.classpath

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

target/
run/
.idea/
*.iml

*.db
*.project
bin/
.settings/
*.classpath
build/
*.DS_Store

*.classpath
.settings/
*.project

.vscode