<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.CategoriaMapper">

  <select parameterType="map" id="consultarCategorias" resultMap="CategoriaResult">
    SELECT 
      c.idCategoria AS c_idCategoria,
      c.nombre AS c_nombre,
      c.descripcion AS c_descripcion,
      c.fechaCreacion AS c_fechaCreacion,
      c.fechaCreacion AS c_fechaCreacion,
      c.estado AS c_estado
    FROM Categoria

  </select>
  <insert parameterType="map" id="insertarCategoria">
    INSERT INTO Categoria
      VALUES(#{cat.idCategoria}, #{cat.nombre}, #{cat.descripcion}, #{cat.fechaCreacion}, #{cat.fechaModificacion}, #{cat.estado})
  </insert>

  <update parameterType="map" id="actualizarNombre">
    UPDATE Categoria
      SET nombre = #{nom} WHERE idCategoria = #{id}
  </update>

  <update parameterType="map" id="actualizarDescripcion">
    UPDATE Categoria
      SET descripcion = #{des} WHERE idCategoria = #{id}
  </update>

  <update parameterType="map" id="actualizarEstado">
    UPDATE Categoria
      SET nombre = #{est} WHERE idCategoria = #{id}
  </update>


  <resultMap type='Categoria' id='CategoriaResult'>
    <id property='idUCategoria' column='c_idCategoria'/>
    <result property='nombre' column='c_nombre'/>
    <result property='descripcion' column='c_descripcion'/>  
    <result property='fechaCreacion' column='c_fechaCreacion'/>  
    <result property='fechaModificacion' column='c_fechaModificacion'/>  
    <result property='estado' column='c_estado'/>  
  </resultMap>
</mapper>