<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.CategoriaMapper">

  <select parameterType="map" id="consultarCategorias" resultMap="CategoriaResult">
    SELECT 
      c.idCategoria AS c_idCategoria,
      c.nombre AS c_nombre,
      c.descripcion AS c_descripcion,
      c.fechaCreacion AS c_fechaCreacion,
      c.fechaModificacion AS c_fechaModificacion,
      c.estado AS c_estado,
      c.comentario AS c_comentario
    FROM Categorias c
  </select>

  <select parameterType="map" id="consultarCategoria" resultMap="CategoriaResult">
    SELECT 
      c.idCategoria AS c_idCategoria,
      c.nombre AS c_nombre,
      c.descripcion AS c_descripcion,
      c.fechaCreacion AS c_fechaCreacion,
      c.fechaModificacion AS c_fechaModificacion,
      c.estado AS c_estado,
      c.comentario AS c_comentario
    FROM Categorias c
    WHERE idCategoria = #{id}
  </select>

  <select parameterType="map" id="consultarCategoriaNombre" resultMap="CategoriaResult">
    SELECT 
      c.idCategoria AS c_idCategoria,
      c.nombre AS c_nombre,
      c.descripcion AS c_descripcion,
      c.fechaCreacion AS c_fechaCreacion,
      c.fechaModificacion AS c_fechaModificacion,
      c.estado AS c_estado,
      c.comentario AS c_comentario
    FROM Categorias c
    WHERE nombre = #{nombre}
  </select>


  
  <insert parameterType="map" id="insertarCategoria">
    INSERT INTO Categorias
      VALUES(#{cat.idCategoria}, #{cat.nombre}, #{cat.descripcion}, CURRENT_DATE, CURRENT_DATE, #{cat.estado}, #{cat.comentario})
  </insert>

  <update parameterType="map" id="actualizarCategoria">
    UPDATE Categorias
      SET nombre = #{nom}, descripcion = #{desc}, estado = #{est}, fechaModificacion = CURRENT_DATE, comentario = #{com}
      WHERE idCategoria = #{id}
  </update>

  <delete id="eliminarCategoria" parameterType="map">
    DELETE FROM Categorias 
      WHERE idCategoria = #{idCategoria};
  </delete>

  <resultMap type='Categoria' id='CategoriaResult'>
    <id property='idCategoria' column='c_idCategoria'/>
    <result property='nombre' column='c_nombre'/>
    <result property='descripcion' column='c_descripcion'/>  
    <result property='fechaCreacion' column='c_fechaCreacion'/>  
    <result property='fechaModificacion' column='c_fechaModificacion'/>  
    <result property='estado' column='c_estado'/>  
    <result property='comentario' column='c_comentario'/>  
  </resultMap>
</mapper>