<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.NecesidadMapper">
    <select parameterType="map" id="consultarNecesidades" resultMap="NecesidadResult">
        SELECT 
            s.idSolicitud AS n_idSolicitud, 
            n.nombre AS n_nombre,
            s.descripcion AS n_descripcion,
            n.urgencia AS n_urgencia,
            s.fechaCreacion AS n_fechaCreacion,
            s.fechaModificacion AS n_fechaModificacion,
            s.estado AS n_estado,

            u.nombre AS u_nombreUsuario, 

            c.idCategoria AS c_idCategoria,
            c.nombre AS c_nombre,
            c.descripcion AS c_descripcion,
            c.fechaCreacion AS c_fechaCreacion,
            c.fechaModificacion AS c_fechaModificacion,
            c.estado AS c_estado,
            
            r.idRespuesta AS r_idRespuesta,
            r.nombre AS r_nombre,
            r.comentarios AS r_comentarios,
            r.fechaCreacion AS r_fechaCreacion

        FROM Solicitudes s JOIN Usuarios u ON (s.idUsuario = u.idUsuario)
            JOIN Necesidades n ON (s.idSolicitud = n.idNecesidad)
            JOIN Categorias c ON (s.idCategoria = c.idCategoria)
            LEFT JOIN Respuestas r ON (r.idSolicitud = s.idSolicitud)
    </select>

    <select parameterType="map" id="consultarNecesidadesUsuario" resultMap="NecesidadResult">
        SELECT 
            s.idSolicitud AS n_idSolicitud, 
            n.nombre AS n_nombre,
            s.descripcion AS n_descripcion,
            n.urgencia AS n_urgencia,
            s.fechaCreacion AS n_fechaCreacion,
            s.fechaModificacion AS n_fechaModificacion,
            s.estado AS n_estado,

            u.nombre AS u_nombreUsuario, 

            c.idCategoria AS c_idCategoria,
            c.nombre AS c_nombre,
            c.descripcion AS c_descripcion,
            c.fechaCreacion AS c_fechaCreacion,
            c.fechaModificacion AS c_fechaModificacion,
            c.estado AS c_estado,
            
            r.idRespuesta AS r_idRespuesta,
            r.nombre AS r_nombre,
            r.comentarios AS r_comentarios,
            r.fechaCreacion AS r_fechaCreacion

        FROM Solicitudes s JOIN Usuarios u ON (s.idUsuario = u.idUsuario) 
            LEFT JOIN Necesidades n ON (s.idSolicitud = n.idNecesidad)
            JOIN Categorias c ON (s.idCategoria = c.idCategoria)
            LEFT JOIN Respuestas r ON (r.idSolicitud = s.idSolicitud)
        WHERE s.idUsuario = #{idUsuario}
    </select>

    <select parameterType="map" id="consultarNecesidadesEstado" resultMap="NecesidadResult">
        SELECT 
            s.idSolicitud AS n_idSolicitud, 
            n.nombre AS n_nombre,
            s.descripcion AS n_descripcion,
            n.urgencia AS n_urgencia,
            s.fechaCreacion AS n_fechaCreacion,
            s.fechaModificacion AS n_fechaModificacion,
            s.estado AS n_estado,

            u.nombre AS u_nombreUsuario, 

            c.idCategoria AS c_idCategoria,
            c.nombre AS c_nombre,
            c.descripcion AS c_descripcion,
            c.fechaCreacion AS c_fechaCreacion,
            c.fechaModificacion AS c_fechaModificacion,
            c.estado AS c_estado,
            
            r.idRespuesta AS r_idRespuesta,
            r.nombre AS r_nombre,
            r.comentarios AS r_comentarios,
            r.fechaCreacion AS r_fechaCreacion

        FROM Solicitudes s JOIN Usuarios u ON (s.idUsuario = u.idUsuario) 
            LEFT JOIN Necesidades n ON (s.idSolicitud = n.idNecesidad)
            JOIN Categorias c ON (s.idCategoria = c.idCategoria)
            LEFT JOIN Respuestas r ON (r.idSolicitud = s.idSolicitud)
        WHERE s.estado = #{estado}
    </select>

    <select parameterType="map" id="consultarNecesidad" resultMap="NecesidadResult">
        SELECT 
            s.idSolicitud AS n_idSolicitud, 
            n.nombre AS n_nombre,
            s.descripcion AS n_descripcion,
            n.urgencia AS n_urgencia,
            s.fechaCreacion AS n_fechaCreacion,
            s.fechaModificacion AS n_fechaModificacion,
            s.estado AS n_estado,

            u.nombre AS u_nombreUsuario, 

            c.idCategoria AS c_idCategoria,
            c.nombre AS c_nombre,
            c.descripcion AS c_descripcion,
            c.fechaCreacion AS c_fechaCreacion,
            c.fechaModificacion AS c_fechaModificacion,
            c.estado AS c_estado,

            r.idRespuesta AS r_idRespuesta,
            r.nombre AS r_nombre,
            r.comentarios AS r_comentarios,
            r.fechaCreacion AS r_fechaCreacion

        FROM Solicitudes s JOIN Usuarios u ON (s.idUsuario = u.idUsuario)
            JOIN Necesidades n ON (s.idSolicitud = n.idNecesidad)
            JOIN Categorias c ON (s.idCategoria = c.idCategoria)
            LEFT JOIN Respuestas r ON (r.idSolicitud = s.idSolicitud)

        WHERE s.idSolicitud = #{id}
    </select>

    <select parameterType="map" id="consultarNecesidadNombre" resultMap="NecesidadResult">
        SELECT 
            s.idSolicitud AS n_idSolicitud, 
            n.nombre AS n_nombre,
            s.descripcion AS n_descripcion,
            n.urgencia AS n_urgencia,
            s.fechaCreacion AS n_fechaCreacion,
            s.fechaModificacion AS n_fechaModificacion,
            s.estado AS n_estado,

            u.nombre AS u_nombreUsuario, 

            c.idCategoria AS c_idCategoria,
            c.nombre AS c_nombre,
            c.descripcion AS c_descripcion,
            c.fechaCreacion AS c_fechaCreacion,
            c.fechaModificacion AS c_fechaModificacion,
            c.estado AS c_estado,

            r.idRespuesta AS r_idRespuesta,
            r.nombre AS r_nombre,
            r.comentarios AS r_comentarios,
            r.fechaCreacion AS r_fechaCreacion

        FROM Solicitudes s JOIN Usuarios u ON (s.idUsuario = u.idUsuario) 
            JOIN Necesidades n ON (s.idSolicitud = n.idNecesidad)
            JOIN Categorias c ON (s.idCategoria = c.idCategoria)
            LEFT JOIN Respuestas r ON (r.idSolicitud = s.idSolicitud)

        WHERE n.nombre = #{nombre}
    </select>

    <insert id="registrarNecesidad" parameterType="map">
        INSERT INTO Necesidades VALUES (#{id}, #{nombre}, #{urg})
    </insert>

    <update parameterType="map" id="actualizarNecesidad">
        UPDATE Necesidades
        SET nombre = #{nombre}
        WHERE idNecesidad = #{id}
    </update>

    <delete id="eliminarNecesidad" parameterType="map">
        DELETE FROM Necesidades 
            WHERE idNecesidad = #{idNecesidad};
    </delete>

    <resultMap id="NecesidadResult" type="Necesidad">
        <id property='idSolicitud' column='n_idSolicitud' />
        <result property="nombre" column="n_nombre"/>
        <result property="descripcion" column="n_descripcion"/>
        <result property="urgencia" column="n_urgencia"/>
        <result property="fechaCreacion" column="n_fechaCreacion"/>
        <result property="fechaModificacion" column="n_fechaModificacion"/>
        <result property="estado" column="n_estado"/>
        <result property="nombreUsuario" column="u_nombreUsuario"/>
        <association  property="categoria"
                resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.CategoriaMapper.CategoriaResult">
        </association>
        <collection property='respuestas'
                ofType='Respuesta'
                resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.RespuestaMapper.RespuestaResult'>
        </collection>
    </resultMap>
</mapper>