<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.OfertaMapper">
    <select parameterType="map" id="consultarOfertas" resultMap="OfertaResult">
        SELECT 
            s.idSolicitud AS o_idSolicitud,
            o.nombre AS o_nombre,
            s.descripcion AS o_descripcion,
            s.fechaCreacion AS o_fechaCreacion,
            s.fechaModificacion AS o_fechaModificacion,
            s.estado AS o_estado,

            u.nombre AS u_nombreUsuario,

            c.idCategoria AS c_idCategoria,
            c.nombre AS c_nombre,
            c.descripcion AS c_descripcion,
            c.fechaCreacion AS c_fechaCreacion,
            c.fechaModificacion AS c_fechaModificacion,
            c.estado AS c_estado,

            r.idRespuesta AS r_idRespuesta,
            r.nombre AS r_nombre,
            r.comentarios AS r_comentarios,
            r.fechaCreacion AS r_fechaCreacion

        FROM Solicitudes s JOIN Usuarios u ON (s.idUsuario = u.idUsuario) 
            JOIN Ofertas o ON (s.idSolicitud = o.idOferta)
            JOIN Categorias c ON (s.idCategoria = c.idCategoria)
            LEFT JOIN Respuestas r ON (r.idSolicitud = s.idSolicitud)
    </select>

    <select parameterType="map" id="consultarOferta" resultMap="OfertaResult">
        SELECT 
            s.idSolicitud AS o_idSolicitud,
            o.nombre AS o_nombre,
            s.descripcion AS o_descripcion,
            s.fechaCreacion AS o_fechaCreacion,
            s.fechaModificacion AS o_fechaModificacion,
            s.estado AS o_estado,

            u.nombre AS u_nombreUsuario,

            c.idCategoria AS c_idCategoria,
            c.nombre AS c_nombre,
            c.descripcion AS c_descripcion,
            c.fechaCreacion AS c_fechaCreacion,
            c.fechaModificacion AS c_fechaModificacion,
            c.estado AS c_estado,

            r.idRespuesta AS r_idRespuesta,
            r.nombre AS r_nombre,
            r.comentarios AS r_comentarios,
            r.fechaCreacion AS r_fechaCreacion

        FROM Solicitudes s JOIN Usuarios u ON (s.idUsuario = u.idUsuario)
            JOIN Ofertas o ON (s.idSolicitud = o.idOferta)
            JOIN Categorias c ON (s.idCategoria = c.idCategoria)
            LEFT JOIN Respuestas r ON (r.idSolicitud = s.idSolicitud)
        WHERE s.idSolicitud = #{id}
    </select>

<select parameterType="map" id="consultarOfertaNombre" resultMap="OfertaResult">
        SELECT 
            s.idSolicitud AS o_idSolicitud,
            o.nombre AS o_nombre,
            s.descripcion AS o_descripcion,
            s.fechaCreacion AS o_fechaCreacion,
            s.fechaModificacion AS o_fechaModificacion,
            s.estado AS o_estado,

            c.idCategoria AS c_idCategoria,
            c.nombre AS c_nombre,
            c.descripcion AS c_descripcion,
            c.fechaCreacion AS c_fechaCreacion,
            c.fechaModificacion AS c_fechaModificacion,
            c.estado AS c_estado,

            r.idRespuesta AS r_idRespuesta,
            r.nombre AS r_nombre,
            r.comentarios AS r_comentarios,
            r.fechaCreacion AS r_fechaCreacion

        FROM Solicitudes s JOIN Ofertas o ON (s.idSolicitud = o.idOferta)
            JOIN Categorias c ON (s.idCategoria = c.idCategoria)
            LEFT JOIN Respuestas r ON (r.idSolicitud = s.idSolicitud)
        WHERE o.nombre = #{nombre}
    </select>

    <select parameterType="map" id="consultarOfertasUsuario" resultMap="OfertaResult">
        SELECT 
            s.idSolicitud AS o_idSolicitud,
            o.nombre AS o_nombre,
            s.descripcion AS o_descripcion,
            s.fechaCreacion AS o_fechaCreacion,
            s.fechaModificacion AS o_fechaModificacion,
            s.estado AS o_estado,

            u.nombre AS u_nombreUsuario,

            c.idCategoria AS c_idCategoria,
            c.nombre AS c_nombre,
            c.descripcion AS c_descripcion,
            c.fechaCreacion AS c_fechaCreacion,
            c.fechaModificacion AS c_fechaModificacion,
            c.estado AS c_estado,

            r.idRespuesta AS r_idRespuesta,
            r.nombre AS r_nombre,
            r.comentarios AS r_comentarios,
            r.fechaCreacion AS r_fechaCreacion

        FROM Solicitudes s JOIN Usuarios u ON (s.idUsuario = u.idUsuario) 
            JOIN Ofertas o ON (s.idSolicitud = o.idOferta)
            JOIN Categorias c ON (s.idCategoria = c.idCategoria)
            LEFT JOIN Respuestas r ON (r.idSolicitud = s.idSolicitud)
        WHERE s.idUsuario = #{idUsuario}
    </select>

    <insert id="registrarOferta" parameterType="map">
        INSERT INTO Ofertas VALUES (#{id}, #{nombre})
    </insert>

    <update parameterType="map" id="actualizarOferta">
        UPDATE Ofertas
        SET nombre = #{nombre}
        WHERE idOferta = #{id}
    </update>

    <delete id="eliminarOferta">
        DELETE FROM Ofertas
            WHERE idOferta = #{idOferta};
    </delete>

    <resultMap id="OfertaResult" type="Oferta">
        <id property='idSolicitud' column='o_idSolicitud' />
        <result property="nombre" column="o_nombre"/>
        <result property="descripcion" column="o_descripcion"/>
        <result property="fechaCreacion" column="o_fechaCreacion"/>
        <result property="fechaModificacion" column="o_fechaModificacion"/>
        <result property="estado" column="o_estado"/>
        <result property="nombreUsuario" column="u_nombreUsuario"/>
        <association  property="categoria"
                resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.CategoriaMapper.CategoriaResult">
        </association>  
        <collection property='respuestas'
                ofType='Respuesta'
                resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.RespuestaMapper.RespuestaResult'>
        </collection>
    </resultMap>
</mapper>